body {
  font-family: 'Sinhala MN';
}
.svglink {
  pointer-events: none;
}
.textlink {
  color: #3a3a3a;
  margin-left: 40px;
  font-weight: 100;
  font-size: 2.2em;
}
.textlink:link {
  color: #000;
  text-decoration: none;
}
.textlink:hover {
  color: #000;
}
.textlink.purple:hover {
  border-bottom: 5px solid #945bb0;
}
.textlink.red:hover {
  border-bottom: 5px solid #c93d39;
}
.textlink.blue:hover {
  border-bottom: 5px solid #4266d5;
}
.textlink.green:hover {
  border-bottom: 5px solid #3b972e;
}
#navbar {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background: rgba(255,255,255,0.95);
  border-bottom: 3px solid rgba(0,0,0,0.1);
}
#navbar:before,
#navbar:after {
  content: '';
  display: table;
}
#navbar:after {
  clear: both;
}
@media only screen and (min-width: 1050px) {
  #navbar {
    position: fixed;
    height: 100px;
    z-index: 99;
  }
}
#navbar #logo {
  height: 100%;
}
@media only screen and (min-width: 1050px) {
  #navbar #logo {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #navbar #logo:before,
  #navbar #logo:after {
    content: '';
    display: table;
  }
  #navbar #logo:after {
    clear: both;
  }
}
@media only screen and (max-width: 400px) {
  #navbar #logo {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #navbar #logo:before,
  #navbar #logo:after {
    content: '';
    display: table;
  }
  #navbar #logo:after {
    clear: both;
  }
}
#navbar #logo img {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#navbar #logo img:before,
#navbar #logo img:after {
  content: '';
  display: table;
}
#navbar #logo img:after {
  clear: both;
}
@media only screen and (min-width: 1050px) {
  #navbar #links {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 80%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 28px;
  }
  #navbar #links:before,
  #navbar #links:after {
    content: '';
    display: table;
  }
  #navbar #links:after {
    clear: both;
  }
}
@media only screen and (max-width: 400px) {
  #navbar #links {
    *zoom: 1;
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #navbar #links:before,
  #navbar #links:after {
    content: '';
    display: table;
  }
  #navbar #links:after {
    clear: both;
  }
  #navbar #links:before,
  #navbar #links:after {
    content: '';
    display: table;
  }
  #navbar #links:after {
    clear: both;
  }
  #navbar #links a {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
  }
  #navbar #links a:before,
  #navbar #links a:after {
    content: '';
    display: table;
  }
  #navbar #links a:after {
    clear: both;
  }
}
@media only screen and (min-width: 1050px) {
  #pkgpanel {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    position: fixed;
    margin-top: 150px;
  }
  #pkgpanel:before,
  #pkgpanel:after {
    content: '';
    display: table;
  }
  #pkgpanel:after {
    clear: both;
  }
  #pkgpanel:last-child {
    margin-right: 0%;
  }
  #pkgpanel center {
    font-size: 2em;
    margin-top: 40px;
  }
  #pkgpanel #logopanel {
    *zoom: 1;
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #pkgpanel #logopanel:before,
  #pkgpanel #logopanel:after {
    content: '';
    display: table;
  }
  #pkgpanel #logopanel:after {
    clear: both;
  }
  #pkgpanel #logopanel img {
    *zoom: 1;
    width: auto;
    max-width: 1440px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: 80%;
  }
  #pkgpanel #logopanel img:before,
  #pkgpanel #logopanel img:after {
    content: '';
    display: table;
  }
  #pkgpanel #logopanel img:after {
    clear: both;
  }
  #pkgpanel #activitypanel {
    *zoom: 1;
    width: auto;
    max-width: 80%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #pkgpanel #activitypanel:before,
  #pkgpanel #activitypanel:after {
    content: '';
    display: table;
  }
  #pkgpanel #activitypanel:after {
    clear: both;
  }
  #pkgpanel #activitypanel a {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #pkgpanel #activitypanel a:before,
  #pkgpanel #activitypanel a:after {
    content: '';
    display: table;
  }
  #pkgpanel #activitypanel a:after {
    clear: both;
  }
  #pkgpanel #activitypanel a:last-child {
    margin-right: 0%;
  }
  #pkgpanel #activitypanel a img {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  #pkgpanel #activitypanel a img:before,
  #pkgpanel #activitypanel a img:after {
    content: '';
    display: table;
  }
  #pkgpanel #activitypanel a img:after {
    clear: both;
  }
}
@media only screen and (max-width: 400px) {
  #pkgpanel {
    margin-top: 20px;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #pkgpanel:before,
  #pkgpanel:after {
    content: '';
    display: table;
  }
  #pkgpanel:after {
    clear: both;
  }
  #pkgpanel:last-child {
    margin-right: 0%;
  }
  #pkgpanel .pkglogo img {
    width: 50%;
  }
}
#descpanel {
  font-size: 2em;
  color: #3a3a3a;
}
#descpanel h1 {
  font-size: 2em;
}
@media only screen and (min-width: 1050px) {
  #descpanel {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 60.98484848484847%;
    margin-left: 0%;
    margin-right: 17.045454545454543%;
    position: relative;
    left: 34.33333333333333%;
    margin-top: 150px;
  }
  #descpanel:before,
  #descpanel:after {
    content: '';
    display: table;
  }
  #descpanel:after {
    clear: both;
  }
  #descpanel:last-child {
    margin-right: 0%;
  }
}
