@import 'jeet'

body
  font-family 'Sinhala MN'


headernav(c)
  &:hover
    border-bottom 5px solid c


.svglink
  pointer-events none

.iconbutton
  width 100%

.textlink
  color #3a3a3aff
  margin-left 40px
  font-weight 100
  font-size 2.2em
  &:link
    color black
    text-decoration none
  &:hover
    color black
.textlink.purple
    headernav(#945bb0ff)
.textlink.red
    headernav(#c93d39ff)
.textlink.blue
    headernav(#4266d5ff)
.textlink.green
    headernav(#3b972eff)


#navbar
  span(1/1)
  +desktop()
    position fixed
    height 100px
    z-index 99
  background rgba(255, 255, 255, 0.95)
  border-bottom 3px solid rgba(0, 0, 0, 0.1)

  #logo
    height 100%
    +desktop()
      span(1/5)
    +mobile()
      span(1/1)
    img
      center()
      height 100%
      padding-top 5px
      padding-bottom 5px

  #links
    +desktop()
      span(4/5)
      padding-top 28px
    +mobile()
      center()
      span(1/1)
      a
        span(1/4)
        text-align center


#pkgpanel
  +desktop()
    col(1/3)
    position fixed
    margin-top 150px
    center
      font-size 2em
      margin-top 10px
    #logopanel
      center()
      img
        center()
        width 80%
    #buttonpanel
      center(80%)
      margin-top 40px
      padding-bottom 10px
      padding-top 10px
      border-bottom 3px solid rgba(0, 0, 0, 0.1)
      border-top 3px solid rgba(0, 0, 0, 0.1)
      a
        col(1/4)
    #codepanel
      border-bottom 3px solid rgba(0, 0, 0, 0.1)
      padding-bottom 10px
      center(80%)
      .badgecol
        col(1/2)
        margin-top 5px
        p
          text-align center
        a
          center(80%)
          margin-top 10px
          img
            center(100%)
    #activitypanel
      center(80%)
      a
        col(1/2)
        img
          center(100%)
  +mobile()
    margin-top 20px
    col(1/1)
    .pkglogo
      img
        width 50%


#descpanel
  h1
    font-size 2em
  font-size 2em
  color #3a3a3aff
  +desktop()
    col(2/3 1/5)
    shift(1/3)
    margin-top 150px
