body {
  font-family: 'Sinhala MN';
  color: #3a3a3a;
}

.pkglink:link {
  color: #3a3a3a;
  text-decoration: none;
}

.pkglink:hover {
    text-decoration: underline;
}

#mainbody {
  font-size: 2em;
}
