/* Custom Style Sheet */

h1, h2, h3 {
    margin-top: 55px;
    margin-bottom: 20px;
}

pre {
    margin-top: 10px;
}

.gitter-chat-embed {
    border-left: 0px;
    border-top: 1px solid #333;
    top: 55%;
    left: 0%;
}
