<div id="codepanel">
    <center><strong>Code Health</strong></center>
    <div class="badgecol">
        <p><strong>Builds:</strong></p>
        <a href="https://travis-ci.org/BioJulia/{{ site.pkgname }}">
            <img src="https://travis-ci.org/BioJulia/{{ site.pkgname }}.svg?branch=master" alt="Build Status" />
        </a>
        <a href="https://ci.appveyor.com/project/Ward9250/{{ site.avname }}/branch/master">
            <img src="https://ci.appveyor.com/api/projects/status/nq4w264346py8esp/branch/master?svg=true" alt="Build status" />
        </a>
    </div>
    <div class="badgecol">
        <p><strong>Test Coverage:</strong></p>
        <a href="https://coveralls.io/r/BioJulia/Bio.jl">
            <img src="https://img.shields.io/coveralls/BioJulia/Bio.jl.svg" alt="Coverage Status" />
        </a>
        <a href="http://codecov.io/github/BioJulia/{{ site.pkgname }}?branch=master">
            <img src="http://codecov.io/github/BioJulia/{{ site.pkgname }}/coverage.svg?branch=master" alt="codecov.io" />
        </a>
    </div>
</div>
