        <!-- End of Page Content see file default.html -->
        </article>




        <!-- JavaScript -->
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Bootstrap -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- Bootstrap Material Design -->
        <script src="./js/material.min.js"></script>
        <script src="./js/ripples.min.js"></script>

        <!-- Initialize the Material Design JS -->
        <script>
            $.material.init();
        </script>
    </body>
</html>
