<div id="navbar" class="row">
    <div class="col-md-5">
        <a href="biojulia.github.io" class="biojulialogo">
            
        </a>
    </div>
    <div class="col-md-7">
        <a class="navheadlink blue" href="">Home</a>
        <a class="navheadlink red" href="">Packages</a>
        <a class="navheadlink purple" href="">News</a>
        <a class="navheadlink green" href="http://biojulia.github.io/Contributing/latest/">Contribute</a>
    </div>
    <div id="links">

    </div>
</div>
