<!DOCTYPE html>
<html lang="en">
    <head>
        {% include stdhead.html %}
    </head>
    <body>
        {% include navheader.html %}
        <div id="pkgpanel">
            <div id="logopanel">
                <a href="https://github.com/BioJulia/{{ site.pkgname }}">
                    <img src="{{ page.logo }}" />
                </a>
            </div>
            {% include codepanel.html %}
            <div id="activitypanel">
                <center><strong>Repo activity</strong></center>
                <a href="http://waffle.io/BioJulia/{{ site.pkgname }}">
                    <img src="https://badge.waffle.io/BioJulia/{{ site.pkgname }}.svg?label=stage:%20planning&amp;title=Planned" alt="Issues Planned" />
                </a>
                <a href="http://waffle.io/BioJulia/{{ site.pkgname }}">
                    <img src="https://badge.waffle.io/BioJulia/{{ site.pkgname }}.svg?label=stage:%20WIP&amp;title=In%20Progress" alt="In Progress" />
                </a>
            </div>
            <div id="buttonpanel">
                <a href="https://github.com/BioJulia/{{ site.pkgname }}">
                    <img id="ghbutton" class="iconbutton svglink" src="img/github_icons/Blue_GitHub.svg" />
                </a>
                <a href="{{ site.url }}/latest/">
                    <img id="docbutton" class="iconbutton svglink" src="img/book_icons/Green_Book.svg" />
                </a>
                <a href="https://gitter.im/BioJulia/{{ site.pkgname }}">
                    <img id="gtbutton" class="iconbutton svglink" src="img/gitter_icons/Red_Gitter.svg" />
                </a>
            </div>
        </div>
        <div id="descpanel">
            <h1>{{ page.subtitle }}</h1>
            <hr />
            {{ content }}
            <hr />
            <strong>Contributing</strong>
            <p>
                If you would like to contribute to any BioJulia module, please
                refer to the
                <a href="https://biojulia.github.io/Contributing/latest/">
                    contributing guidelines</a>.
            </p>
        </div>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>
        <script>
            function getRandomIndex() {
                var randomIndex = Math.floor(Math.random() * bucket.length);
                return bucket.splice(randomIndex, 1)[0];
            }

            var bucket = [0, 1, 2, 3];
            var ghIcons = ['Blue_GitHub.svg', 'Green_GitHub.svg', 'Purple_GitHub.svg', 'Red_GitHub.svg'];
            var bkIcons = ['Blue_Book.svg', 'Green_Book.svg', 'Purple_Book.svg', 'Red_Book.svg'];
            var gtIcons = ['Blue_Gitter.svg', 'Green_Gitter.svg', 'Purple_Gitter.svg', 'Red_Gitter.svg'];

            $("#ghbutton").attr('src', 'img/github_icons/' + ghIcons[getRandomIndex()]);
            $("#docbutton").attr('src', 'img/book_icons/' + bkIcons[getRandomIndex()]);
            $("#gtbutton").attr('src', 'img/gitter_icons/' + gtIcons[getRandomIndex()]);
        </script>
    </body>
</html>
